<ion-view>
  <ion-content>
    <input id="pac-input" class="controls" type="text" placeholder="teleport">

    <div id="map" data-tap-disabled="true"></div>


    <div class="tabs-striped tabs-color-dark">
      <div class="tabs">
        <a class="tab-item" ui-sref="left" nav-direction="back">
          <i class="icon ion-eye"></i>
        </a>
        <a class="tab-item active">
          <button class="button button-big button-stable" ng-click=sendRequest()>teleport</button>
        </a>
        <a class="tab-item" ui-sref="right" nav-direction="forward">
          <i class="icon ion-android-locate"></i>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>

