<ion-view>
  <ion-content scroll="false">
    <div id="pendingRequestCounter">334243</div>

    <input id="pac-input" class="controls" type="text" placeholder="Where are you teleporting to?" ng-focus="disableTap()">
    <div id="map" data-tap-disabled="true"></div>



  </ion-content>

  <ion-footer-bar>
    <ion-tabs class="tabs-striped tabs-color-calm">
      <a class="tab-item" ui-sref="left" nav-direction="back">
        <i class="icon ion-eye"></i>
      </a>
      <a class="tab-item active">
        <img src="img/button.png" class="button button-clear" ng-click=sendRequest()>
      </a>
      <a class="tab-item" ui-sref="right" nav-direction="forward">
        <i class="icon ion-android-locate"></i>
      </a>
    </ion-tabs>
  </ion-footer-bar>

</ion-view>

