<ion-view view-title="right">
  <div class="bar bar-header">
    <button class="button button-icon ion-ios-arrow-back" ui-sref="map" nav-direction="back"></button>
    <div class="h1 title">Teleport requests</div>
    <button class="button button-icon ion-ios-gear-outline" ui-sref="settings" nav-direction="enter"></button>
  </div>
  <ion-content class="has-header">

    <div class="list">
      <div class="card" ng-repeat="request in receivedRequests">

        <div ng-switch on="checkReplies(request)">

          <div ng-switch-when="true">

            <div class="item item-avatar">
              <!-- <img src="{{request.avatarurl}}"> -->
              <h2>You helped {{request.requesterName}} to teleport<br>from {{request.requesterLocation}}</h2><br>
              <p><i id="timer1" class="icon ion-ios-timer-outline"></i> 2:56</p>
            </div>
            <div class="button-bar">
              <button class="button icon-left ion-images button-calm" ui-sref="gallery({req: {{request.timestamp}} })">See gallery</button>
            </div>

          </div>

          <div ng-switch-when="false">

            <div class="item item-avatar">
              <!-- <img src="{{request.avatarurl}}"> -->
              <h2>{{request.requesterName}} from {{request.requesterLocation}}</h2>
              <h2>wants to teleport near you</h2> <br>
              <p><i id="timer" class="icon ion-ios-timer-outline"></i> 2:56</p>
            </div>
            <div class="button-bar">
              <button class="button icon-left ion-android-checkbox button-balanced" ng-click="takePhoto(request)">Accept</button>
              <button class="button icon-left ion-android-cancel button-assertive" ng-click="decline(request)">Decline</button>
            </div>

          </div>

        </div>

      </div>
    </div>

  </ion-content>
</ion-view>
